@import "../../../App.scss";

.products-container {
  padding-bottom: 3rem;
  h4 {
    font-size: 1.5em;
    text-align: center;
    text-transform: uppercase;
  }
  .add-product-section {
    .form-container {
      margin: 1rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      h1 {
        font-size: 1.3rem;
        font-weight: 600;
        text-transform: uppercase;
        text-decoration: underline;
      }
      form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: fit-content;
        .input-box {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 0.3rem;
          margin-bottom: 0.5rem;
          & > div {
            width: 100%;
          }
          & > label {
            font-weight: 600;
          }
          textarea,
          input:not([type="checkbox"]),
          select {
            outline: none;
            border: 1px solid #c2c2c2;
            width: 100%;
            padding: 0.5rem;
            border-radius: 0.2rem;
          }
          input[type="checkbox"] {
            width: 1.4rem;
            height: 1.4rem;
            accent-color: $color-primary;
          }
          .checkboxes {
            display: grid;
            grid-template-columns: 1fr;
            font-size: 1rem;

            .item input[type="number"] {
              height: 1.8rem;
              width: 100%;
            }
            .labels {
              display: grid;
              grid-template-columns: 2rem 5rem 5rem;
              gap: 2rem;
              margin-bottom: 0.3rem;
            }
            .item {
              display: grid;
              grid-template-columns: 2rem 5rem 5rem;
              margin-bottom: 1rem;
              gap: 2rem;
              padding: 0.5rem;
              border: 1px solid #c2c2c2;
              border-radius: 0.5rem;
            }
          }
        }
        .images {
          .selected-imgs {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 1rem;
            max-width: 80vw;
            margin-top: 2rem;
            img {
              height: 10rem;
              aspect-ratio: 1;
              object-fit: cover;
            }
          }
          .item {
            display: flex;
            flex-direction: column;
            gap: 0 !important;
            align-items: flex-start;
          }
        }
        .buttons {
          margin-top: 0.5rem;
          display: flex;
          gap: 1rem;
        }
      }
    }
  }
  .products-container {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    .product-item {
      padding: 0.5rem;
      border: 1px solid #c2c2c2;
      border-radius: 0.5rem;
      color: #000000;
      img {
        height: 20vh;
        object-fit: cover;
        border-radius: 0.5rem;
      }
      & > div {
        display: flex;
        gap: 1rem;
      }
      &-details {
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
        p {
          display: -webkit-box;
          -webkit-line-clamp: 3;
          line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 80%;
        }
        span {
          font-weight: 500;
        }
      }
    }
  }
}
