.slider-item {
  width: 100%;
  padding: 0 1rem !important;
  .image-div {
    height: 18rem;
    .slider-img {
      object-fit: cover;
      height: 17rem !important;
      width: 100%;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      &:hover {
        transform: scale(1.06) translateY(0.5rem);
      }
    }
  }
  @media (max-width: 1040px) {
    .image-div {
      height: fit-content;
      .slider-img:hover {
        transform: scale(1) translateY(0) !important;
      }
    }
  }
  @media (max-width: 450px) {
    .image-div {
      height: fit-content;
      .slider-img {
        height: 14rem !important;
      }
    }
  }
  .details {
    width: 100% !important;
    display: flex;
    flex-direction: column;
    width: inherit;
    padding: 0.5rem 0 1rem 0;
    .flex-between {
      font-size: 1.3rem;
      margin-bottom: 0.5rem;
      span {
        font-weight: 500;
      }
    }
    .flex-column {
      display: flex;
      flex-direction: column;
      font-size: 1.2rem;
      gap: 0.3rem;
      .price {
        font-size: 1.3rem;
        font-weight: 500;
      }
      .flex-end {
        align-self: flex-end;
        display: flex;
        align-items: center;
        gap: 0.2rem;
        color: #467fe4;
        span {
          text-decoration: underline;
        }
        img {
          width: 1.1rem;
        }
      }
    }
  }
}
